* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: "Bitter", Ubuntu, "Josefin";
}

header,
footer {
	background-color: #655560;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
main,
footer {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
	padding: .5rem;
	color: #536878;
}

p {
	padding: .5rem;
}

.responsive menu{
    background-color: #878c8f;
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.navigation{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.navigation li{
    border-radius: 3px;
    margin: 0 5px;
}

.navigation li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.navigation li:hover, li.active{
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}