h1 h2{
    font-family: 'Bitter', serif;
font-family: 'Cormorant', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
}

p li {
    font-family: 'Cormorant', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Oswald', sans-serif;
}