@media (min-width: 975px) {
    .primaryNav{
        display: inline-block;
        justify-content: space-between;
    }
   
    #hamburguerBtn{
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 25% 49.3% 25%;
        grid-template-rows: 3;
        grid-gap: 5px;
    }

    .combinedbanner {
        grid-column-start: 2;
    }

    .events {
        grid-column-start: 1;
        grid-row: 1;
    }
    .spotlights {
        display: block;
        
    }
    
    nav ul {
        display: inline-flex;
        list-style: none;
    }

    .social-media i {
        font-size: 30px;
    }
  
    
}