* {
	box-sizing: border-box;
}

header {
	background-color: #655560;
	padding: 12px;
}

header .header1 {
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.header1 img {
	max-width: 60px;
}

.header1 .headings {
	padding: 10px;
	color: #fcf7ff;
}

.header1 .headings h1 {
	margin-bottom: 10px;
	font-weight: bold;
}

.header1 .headings h2 {
	font-size: 13px;
}

.header1 .social-media {
	padding: 10px;
}

.social-media {
	display:flex;
	align-items: center;
	transition: 0.2s;
	text-decoration: none;
}
.facebook{
	
	padding: 5px;
	color: rgb(51, 51, 106)
	
}
.twitter{
	padding: 5px;
	color: rgb(51, 51, 106)
}
.social-media :hover{
	color:#333;
}

#date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: gray;
	text-align: center;
	color: white;
	font-weight: bold;
}

footer {
	background-color: #a4969b;
	text-align: center;
	padding: 10px;
}

footer img  {
	margin-bottom: 10px;
	width: 60px;
}

footer h3 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

#mail {
	display: inline-block;
	color: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
}

#mapLink {
	display: block;
}

.location {
	display: flex;
	justify-content: center;
}


#lastModified {
	text-align: center;
	font-size: smaller;
}



nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav{
    background-color: #eee;
}
/*removing borders*/
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*clickable*/
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3)
}
/*open and close the toggle menu*/
nav ul {display: none;}
nav ul.open {display: block;}
/*hiding the X or toggle menu*/
#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}
