@media screen and (max-width: 400px) {
    h1{
        font-size: 25px;

}
     h2 {
        font-size: 14px;
    }
    h3{
        font-size: 10px;
    }

    p{
        font-size: 10px;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}